

p {
font-size: 150%;
font-family: "Times New Roman", Times, serif;
text-align: center;
}
*/
/* CONTENT ON SUBPAGES */
.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:500px;
    background-color: blue;
    

}
.hoststar{
grid-column: 1;
grid-row:1;
}
.massdensity{
grid-column: 1;
grid-row:2;
    
}
.atmospheretemp{
grid-column: 1;
grid-row: 3;
}
.Stability{
grid-column: 1;
grid-row: 4;
}

/* TEXT ON MAINPAGE */
.mainpage{

text-align:center;
border: thick double black;
border-radius: 500px;
padding: 20px 20px 20px 20px;

font-family: "Times New Roman", Times, serif;
font-size: 300%;


}
/*FORMATTING THE LINKS TO SUBPAGES */
.Subpages {
display: flex;
padding-top: 100px;
padding-left: 80px;
padding-bottom: 117px;
border: white;
border-style: inset;
border-width: 20px;
border-length: 50%;

font-family: Monaco, Monospace;
font-size: 125%;


img {
width: 50%;
length: 50%;
}
}
