.homemenu {
    display: flex;
}
.tomenu{
    display: fixed;
    top: 30px;
    left: 30px;
}
.tomenus{
    display:fixed;
    top: 30px;
    left: 30px;
}
nav {
   display: flex;
padding-top: 100px;
padding-left: 80px;
padding-bottom: 117px;
border: white;
border-style: inset;
border-width: 50px;


font-family: Monaco, Monospace;
font-size: 125%;


}
.homemenus ul {
    list-style-type: none;
}

.homemenu a::after {
    display: inline-block;
    color: WHITE;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

h1 , h2{
    color: white;
    text-align: center;
    font-size: 150%;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2016/02/21/11/33/star-1213455_1280.jpg")
   
}


/* CONTENT ON SUBPAGES */
/*.content *{
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
*/
.content{
  
  display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.6fr 0.5fr 1fr 0.4fr;
    grid-row-gap:250px;
    text-align: center;
    
    
}
.hoststars{
   
grid-column: 2;
grid-row:1;
    border-radius: 100px;
    background-color: lightblue;
    border: thick solid white;  
    
    
}
.massdensity{
  
grid-column: 2;
grid-row:2;
    border-radius: 100px;
    background-color: lightblue;
    border: thick solid white; 
    
}
.atmospheretemp{
  
grid-column: 2;
grid-row: 3;
    border-radius: 100px;
    background-color: lightblue;
    border: thick solid white;
    
}
.Stability{
    
grid-column: 2;
grid-row: 4;
    border-radius: 100px;
    background-color: lightblue;
    border: thick solid white;
    i
    
}
.discoverymethods
{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    border-radius: 10px;
    background-color: lightblue;
    border: thick solid white;
    
}
    

    
.whatisexoplanet{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    border-radius: 10px;
    background-color: lightblue;
    border: thick solid white;
  
}
    

/* TEXT ON MAINPAGE */
.mainpage{

text-align:center;
border: thick double white;
border-radius: 500px;
padding: 20px 20px 20px 20px;

font-family: "Times New Roman", Times, serif;
font-size: 300%;


}
